# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore installed gems
vendor/bundle

# Ignore all configs.
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore osx files
.DS_Store
